<div class="fixed w-full z-50 antialiased">
  <%= render 'shared/header/desktop_header' %>
  <%= render 'shared/header/mobile_header' %>
  
  <% if !content_for?(:mobile_menu) %>
    <%= render 'shared/header/mobile_menu' %>
  <% end %>
</div>
