<div class="flex flex-col shrink-0 w-[240px] md:w-[300px] rounded-lg overflow-hidden">
  <div class="relative grow group cursor-pointer">
    <div class="absolute inset-0 hover:bg-black/70 transition-all duration-300 hover:backdrop-blur-[20px]">
      <div class="flex justify-center items-center gap-1.5 h-full invisible group-hover:visible">
        <svg class="w-[1.3rem] h-[1.3rem]">
          <use xlink:href="#expand"></use>
        </svg>
        <p class="hover:text-white/70 text-[1.3rem]">Expand</p>
      </div>
    </div>
    <%= image_tag movie.cover, alt: "Cover Image" %>
  </div>
  <div class="flex justify-center items-center gap-3 h-[60px] bg-tmdbDarkBlue">
    <div class="w-9 h-9">
      <img src="https://www.themoviedb.org/t/p/original/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg" alt="">
    </div>
    <div>
      <h4 class="text-white/80 leading-4">Now Streaming</h4>
      <h3 class="font-SourceProSemiBold leading-4">Watch Now</h3>
    </div>
  </div>
</div>