<div class="mb-[30px] pb-[30px] border-b border-[#d7d7d7] antialiased">
  <h3 class="font-SourceProSemiBold text-[1.4rem] mb-5 font-semibold">Top Billed Cast</h3>
  <div class="font-SourceProNormal scrollbar overflow-scroll mb-5">
    <ul class="flex gap-3.5 mb-2.5">
      <li>
        <div class=" w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light
    ">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
      <li>
        <div class="w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
      <li>
        <div class="w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
      <li>
        <div class="w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
      <li>
        <div class="w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
      <li>
        <div class="w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
      <li>
        <div class="w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
      <li>
        <div class="w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
      <li>
        <div class="w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
      <li>
        <div class="w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
      <li>
        <div class="w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
      <li>
        <div class="w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
      <li>
        <div class="w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
    </ul>

  </div>
  <a href="#" class="block text-[1.1rem] font-SourceProSemiBold mt-5">Full Cast & Crew</a>
</div>