<div class="mb-[30px] pb-[30px] border-b border-[#d7d7d7] antialiased">
  <h3 class="font-SourceProSemiBold text-[1.2rem] sm:text-[1.4rem] mb-5">Top Billed Cast</h3>
  <div class="relative">
    <div class="scrollable-wrapper font-SourceProNormal scrollbar overflow-scroll mb-5 fading">
      <ul class="scrollable-content flex gap-3.5 mb-2.5">
        <% @movie.cast.each do |person| %>
          <li>
            <div class="w-[122px] sm:w-[140px] h-[255px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light">
              <div class="h-[175px] overflow-hidden">
                <%= link_to (image_tag person.image), user_profile_path(current_user) %>
              </div>
              <div class="mt-2.5 mx-2.5 text-left">
                <a href="#" class="block font-SourceProBold leading-5 mb-1"><%= person.name %></a>
                <h5 class="text-[0.9rem] pr-2.5 leading-4"><%= person.movie_people.first.character_name %></h5>
              </div>
            </div>
          </li>
        <% end %>


      </ul>

    </div>
  </div>
  <a href="#" class="block text-[1.1rem] font-SourceProSemiBold mt-5">Full Cast & Crew</a>
</div>