<div class="overflow-hidden">
  <h3 class="font-SourceProSemiBold text-[1.4rem] mb-5">Top Billed Cast</h3>
  <div class="scrollbar font-SourceProNormal m b-2.5">
    <ul class="flex gap-3.5 mb-2.5">
      <li>
        <div class=" w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light
    ">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
      <li>
        <div class="w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
      <li>
        <div class="w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
      <li>
        <div class="w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
      <li>
        <div class="w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
      <li>
        <div class="w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
      <li>
        <div class="w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
      <li>
        <div class="w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
      <li>
        <div class="w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
      <li>
        <div class="w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
      <li>
        <div class="w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
      <li>
        <div class="w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
      <li>
        <div class="w-[140px] h-[273px] overflow-hidden rounded-lg border border-tmdbLightGray mb-2.5 pb-2.5 shadow-light">
          <div class="h-[175px]">
            <img src="https://media.themoviedb.org/t/p/w138_and_h175_face/yxYOaalFh8SUwNE5C0wzOwF89Ny.jpg" alt="">
          </div>
          <div>
            <h4 class="font-SourceProBold px-2.5 pt-2.5">Tom Holland</h4>
            <h5 class="text-[0.9rem] px-2.5">Peter Parker / Spider-Man</h5>
          </div>
        </div>
      </li>
    </ul>

  </div>
  <p class="text-[1.1rem] font-SourceProSemiBold mt-5 mb-[30px]">Full Cast & Crew</p>
</div>