<div class="font-SourceProNormal antialiased">
  <div class="flex gap-2.5 mb-[30px]">
    <svg class="w-[30px] h-[30px]">
      <use href="#facebook"><a href=""></a></use>
    </svg>
    <svg class="w-[30px] h-[30px]">
      <use href="#twitter"><a href=""></a></use>
    </svg>
    <svg class="w-[30px] h-[30px]">
      <use href="#instagram"><a href=""></a></use>
    </svg>
    <div class="flex justify-center items-center pl-2.5 border-l border-tmdbLightGray">
      <img class="w-[21px] h-[21px]" src="https://www.themoviedb.org/assets/2/v4/logos/justwatch-small-grey-b589701cfd61de942e17ae33c34a7c939a1218595df3d8744c16a5612f0fd6f7.svg" alt="">
    </div>
    <svg class=" w-[40px] h-[30px] pl-2.5 border-l border-tmdbLightGray">
      <use href="#link"><a href=""></a></use>
    </svg>
  </div>
  <div>
    <ul class="space-y-5">
      <li>
        <strong class="font-SourceProSemiBold block leading-4 antialiased">Status:</strong><span>Released</span>
      </li>
      <li>
        <strong class="font-SourceProSemiBold block leading-4 antialiased">Original
          Language:</strong><span>English</span>
      </li>
      <li>
        <strong class="font-SourceProSemiBold block leading-4 antialiased">Budget:</strong><span>$200,000,000.00</span>
      </li>
      <li>
        <strong class="font-SourceProSemiBold block leading-4 antialiased">Revenue:</strong><span>$1,921,847,111.00</span>
      </li>
    </ul>
  </div>
  <div>
    <h4 class="text-[1.1rem] font-SourceProSemiBold mt-[30px] mb-2.5">Keywords</h4>
    <ul class="flex gap-x-[5px] gap-y-2.5 flex-wrap child:tag pb-[30px] mb-[30px] border-b border-[#d7d7d7]">
      <li>new york city</li>
      <li>loss of loved one</li>
      <li>showdown</li>
      <li>secret identity</li>
      <li>hero</li>
      <li>magic</li>
      <li>villain</li>
      <li>dangerous</li>
      <li>vigilante</li>
      <li>portal</li>
      <li>sequel</li>
      <li>superhero</li>
      <li>superhero team</li>
      <li>alternate reality</li>
      <li>masked vigilante</li>
      <li>spider web</li>
      <li>aftercreditsstinger</li>
      <li>duringcreditsstinger</li>
      <li>marvel cinematic universe (mcu)</li>
      <li>teenage hero</li>
      <li>fight for justice</li>
      <li>superhero teamup</li>
      <li>returning hero</li>
      <li>crossover</li>
      <li>teamwork</li>
    </ul>
  </div>
  <div class="mb-[30px]">
    <h4 class="text-[1.1rem] font-SourceProSemiBold mb-1">Content Score</h4>
    <div class="rounded-lg overflow-hidden">
      <p class="bg-black text-white font-SourceProBold leading-9 px-3">100</p>
      <p class="pt-0.5 pb-1 px-3 bg-black/15 text-[0.9rem]">Yes! Looking good!</p>
    </div>
  </div>
  <div class="mb-[30px]">
    <h4 class="text-[1.1rem] font-SourceProSemiBold mb-1">Top Contributors</h4>
    <ul class="space-y-5 ">
      <li class="flex justify-start items-center gap-2.5">
        <div class="rounded-full overflow-hidden h-11 w-11">
          <img src="https://www.themoviedb.org/t/p/w45_and_h45_face/yYG7Rhn9HfFpssIMeNiDynvxC14.jpg" alt="">
        </div>
        <div>
          <p class="font-SourceProSemiBold leading-5">875</p>
          <p class="font-SourceProLight">raze464</p>
        </div>
      </li>
      <li class="flex justify-start items-center gap-2.5">
        <div class="rounded-full overflow-hidden h-11 w-11">
          <img src="https://www.themoviedb.org/t/p/w45_and_h45_face/yYG7Rhn9HfFpssIMeNiDynvxC14.jpg" alt="">
        </div>
        <div>
          <p class="font-SourceProSemiBold leading-5">875</p>
          <p class="font-SourceProLight">raze464</p>
        </div>
      </li>
      <li class="flex justify-start items-center gap-2.5">
        <div class="rounded-full overflow-hidden h-11 w-11">
          <img src="https://www.themoviedb.org/t/p/w45_and_h45_face/yYG7Rhn9HfFpssIMeNiDynvxC14.jpg" alt="">
        </div>
        <div>
          <p class="font-SourceProSemiBold leading-5">875</p>
          <p class="font-SourceProLight">raze464</p>
        </div>
      </li>
      <li class="flex justify-start items-center gap-2.5">
        <div class="rounded-full overflow-hidden h-11 w-11">
          <img src="https://www.themoviedb.org/t/p/w45_and_h45_face/yYG7Rhn9HfFpssIMeNiDynvxC14.jpg" alt="">
        </div>
        <div>
          <p class="font-SourceProSemiBold leading-5">875</p>
          <p class="font-SourceProLight">raze464</p>
        </div>
      </li>
    </ul>
    <a href="#">View Edit History</a>
  </div>

  <div class="inline-flex items-center gap-1.5 mb-[30px] bg-black py-1.5 px-5 rounded-full text-white">
    <svg class="w-[15.84px] h-[15.84px]">
      <use xlink:href="#lock"></use>
    </svg>
    <a class="text-[15.84pxx] font-SourceProBold uppercase" href="">Login To Edit</a>
  </div>
  <div class="flex items-center gap-1 mb-5 opacity-50">
    <svg class="w-[1.4rem] h-[1.4rem]">
      <use xlink:href="#keyboard"></use>
    </svg>
    <a href="">Keyboard Shortcuts</a>
  </div>
  <div class="flex items-center gap-1">
    <svg class="w-[1.4rem] h-[1.4rem]">
      <use xlink:href="#speech-bubble"></use>
    </svg>
    <p>Login to report an issue</p>
  </div>
</div>
