<div class="flex justify-between items-start grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-[30px] font-SourceProNormal antialiased">
  <!-- Social media & Facts -->
  <div>
    <!-- Social media and external links section -->
    <div class="flex gap-2.5 mb-[30px]">
      <svg class="w-[30px] h-[30px]">
        <use href="#facebook"><a href=""></a></use>
      </svg>
      <svg class="w-[30px] h-[30px]">
        <use href="#twitter"><a href=""></a></use>
      </svg>
      <svg class="w-[30px] h-[30px]">
        <use href="#instagram"><a href=""></a></use>
      </svg>
      <div class="flex justify-center items-center pl-2.5 border-l border-tmdbLightGray">
        <img class="w-[21px] h-[21px]" src="https://www.themoviedb.org/assets/2/v4/logos/justwatch-small-grey-b589701cfd61de942e17ae33c34a7c939a1218595df3d8744c16a5612f0fd6f7.svg" alt="">
      </div>
      <svg class=" w-[40px] h-[30px] pl-2.5 border-l border-tmdbLightGray">
        <use href="#link"><a href=""></a></use>
      </svg>
    </div>
    <!-- Movie facts section -->
    <div>
      <ul class="space-y-5">
        <li>
          <strong class="font-SourceProSemiBold block leading-4 antialiased">Status:</strong><span>Released</span>
        </li>
        <li>
          <strong class="font-SourceProSemiBold block leading-4 antialiased">Original
            Language:</strong><span><%= @movie.language %></span>
        </li>
        <li>
          <strong class="font-SourceProSemiBold block leading-4 antialiased">Budget:</strong><span>$<%= @movie.budget %></span>
        </li>
        <li>
          <strong class="font-SourceProSemiBold block leading-4 antialiased">Revenue:</strong><span>$<%= @movie.revenue %></span>
        </li>
      </ul>
    </div>
  </div>
  <!-- Keywords section -->
  <div>
    <h4 class="text-[1.1rem] font-SourceProSemiBold mb-2.5">Keywords</h4>
    <ul class="flex gap-x-[5px] gap-y-2.5 flex-wrap child:tag pb-[30px] border-b border-[#d7d7d7]">
      <% @movie.keywords.each do |keyword| %>
        <li><%= keyword.name %></li>
      <% end %>
    </ul>
  </div>
  <!-- Content Score section -->
  <div>
    <div class="mb-[30px]">
      <h4 class="text-[1.1rem] font-SourceProSemiBold mb-1">Content Score</h4>
      <div class="rounded-lg overflow-hidden">
        <p class="bg-black text-white font-SourceProBold leading-9 px-3">100</p>
        <p class="pt-0.5 pb-1 px-3 bg-black/15 text-[0.9rem]">Yes! Looking good!</p>
      </div>
    </div>
    <div class="mb-[30px]">
      <h4 class="text-[1.1rem] font-SourceProSemiBold mb-1">Top Contributors</h4>
      <ul class="space-y-5 ">
        <li class="flex justify-start items-center gap-2.5">
          <div class="rounded-full overflow-hidden h-11 w-11">
            <img src="https://www.themoviedb.org/t/p/w45_and_h45_face/yYG7Rhn9HfFpssIMeNiDynvxC14.jpg" alt="">
          </div>
          <div>
            <p class="font-SourceProSemiBold leading-5">875</p>
            <p class="font-SourceProLight">raze464</p>
          </div>
        </li>
        <li class="flex justify-start items-center gap-2.5">
          <div class="rounded-full overflow-hidden h-11 w-11">
            <img src="https://www.themoviedb.org/t/p/w45_and_h45_face/yYG7Rhn9HfFpssIMeNiDynvxC14.jpg" alt="">
          </div>
          <div>
            <p class="font-SourceProSemiBold leading-5">875</p>
            <p class="font-SourceProLight">raze464</p>
          </div>
        </li>
        <li class="flex justify-start items-center gap-2.5">
          <div class="rounded-full overflow-hidden h-11 w-11">
            <img src="https://www.themoviedb.org/t/p/w45_and_h45_face/yYG7Rhn9HfFpssIMeNiDynvxC14.jpg" alt="">
          </div>
          <div>
            <p class="font-SourceProSemiBold leading-5">875</p>
            <p class="font-SourceProLight">raze464</p>
          </div>
        </li>
        <li class="flex justify-start items-center gap-2.5">
          <div class="rounded-full overflow-hidden h-11 w-11">
            <img src="https://www.themoviedb.org/t/p/w45_and_h45_face/yYG7Rhn9HfFpssIMeNiDynvxC14.jpg" alt="">
          </div>
          <div>
            <p class="font-SourceProSemiBold leading-5">875</p>
            <p class="font-SourceProLight">raze464</p>
          </div>
        </li>
      </ul>
      <a href="#">View Edit History</a>
    </div>
  </div>
  <!-- Additional Actions Column -->
  <div class="text-center">
    <!-- Login button section -->
    <div class="inline-flex justify-center items-center gap-1.5 mb-[30px] bg-black py-1.5 px-5 rounded-full text-white text-center">
      <svg class="w-[15.84px] h-[15.84px]">
        <use xlink:href="#lock"></use>
      </svg>
      <a class="text-[15.84pxx] font-SourceProBold uppercase" href="">Login To Edit</a>
    </div>
    <!-- Keyboard Shortcuts section -->
    <div class="flex justify-center items-center gap-1 mb-5 opacity-50">
      <svg class="w-[1.4rem] h-[1.4rem]">
        <use xlink:href="#keyboard"></use>
      </svg>
      <a href="">Keyboard Shortcuts</a>
    </div>
    <!-- Report Issue section -->
    <div class="flex justify-center items-center gap-1">
      <svg class="w-[1.4rem] h-[1.4rem]">
        <use xlink:href="#speech-bubble"></use>
      </svg>
      <p>Login to report an issue</p>
    </div>
  </div>
</div>

