<div class="mb-[30px] pb-[30px] border-b border-[#d7d7d7] ">
  <div class="relative h-[258px] text-white antialiased collection-bg overflow-hidden rounded-lg">
    <div class="absolute my-auto top-0 bottom-0 left-5 max-h-max pr-5">
      <h4 class="text-[1.2rem] sm:text-[1.5rem] lg:text-[1.9rem] font-SourceProSemiBold md:leading-8">Part of
        <span><%= @movie.collection.name %></span></h4>
      <p class="text-[0.8rem] sm:text-[1.1rem] mb-5">Includes
        <span class="text-white/90"><%= @movie.collection.movies.map(&:title).join(", ") %></span>.
      </p>
      <a class="inline-block text-base lg:text-[1.1rem] font-SourceProBold px-5 py-1.5 bg-tmdbDarkerBlue border-2 border-tmdbDarkerBlue rounded-[20px] uppercase leading-5" href="#">View
        The Collection</a>
    </div>
  </div>
</div>