<div class="w-4/5 pl-7">
  <div class="flex flex-wrap gap-6">
    <% if @movies.present? %>
      <% @movies.each do |movie| %>
        <%= render partial: 'movies/search_result_movie_card', locals: { movie: movie } %>
      <% end %>
    <% else %>
      <%= render partial: 'movies/no_results' %>
    <% end %>
  </div>
</div>
