<div class="mb-[30px] pb-[30px] border-b border-[#d7d7d7]">
  <div class="flex items-center gap-[25px] md:gap-[50px] mb-5 font-SourceProSemiBold antialiased">
    <h3 class="text-[1.4em]">Media</h3>
    <div class="flex items-center gap-3 md:gap-6 text-[0.9em] md:text-[1.1em]">
      <h4 class="border-b-4 border-black pt-2 pb-1 rounded-b-sm">Most Popular</h4>
      <h4>Videos <span class="text-black/60">67</span></h4>
      <h4>Backdrops <span class="text-black/60">93</span></h4>
      <h4>Posters <span class="text-black/60">398</span></h4>
    </div>
  </div>
  <div class="flex h-[240px] md:h-[300px] overflow-scroll scrollbar pb-0.5 rounded-lg">
    <img class="h-full" src="https://i.ytimg.com/vi/iqyPvdsOWKk/hqdefault.jpg" alt="">
    <img src="https://media.themoviedb.org/t/p/w533_and_h300_bestv2/14QbnygCuTO0vl7CAFmPf1fgZfV.jpg" alt="">
    <img src="https://media.themoviedb.org/t/p/w220_and_h330_face/5weKu49pzJCt06OPpjvT80efnQj.jpg" alt="">
  </div>

</div>