<div class="absolute left-3 -bottom-4 flex justify-center items-center">
  <a href="#" class="flex justify-center items-center hover:scale-110 cursor-pointer transition-all">
    <div class="consensus">
      <div class="outer_ring <%= chart_size %>">
        <div class="user_score_chart movie-score flex justify-center items-center font-ConcenBold tracking-[-3px] text-white h-full pr-[5px] pt-1.5 text-[10px]" data-percent="<%= movie.average_rating %>">
          <span class="absolute block pl-0 text-[9px]"><%= movie.average_rating.to_i %></span>
          <span class="relative top-[-10px] right-[-9px]">%</span>
        </div>
      </div>
    </div>
  </a>
</div>