<div class="relative">
  <h3 class="text-[1.4em] font-SourceProSemiBold mb-5">Recommendations</h3>
  <div class="scrollable-wrapper fading scrollbar overflow-scroll">
    <ul class="scrollable-content flex gap-4 child:shrink-0 pb-2.5">
      <% Movie.random_recommendations.each do |movie| %>
        <li>
          <div class="w-[250px] h-[141px] overflow-hidden rounded-lg">
            <%= link_to image_tag(movie.background, class: "h-full object-cover"), movie_path(movie) %>
          </div>
          <div class="flex justify-between items-center mt-1">
            <%= link_to movie.title, movie_path(movie), class: "inline-block text-black/80" %>
            <span class="inline-block text-black/80">67%</span>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

</div>