<div class="mb-[30px] pb-[30px] border-b border-[#d7d7d7]">
  <div class="flex justify-between sm:justify-start items-center gap-[25px] sm:gap-[50px] mb-5 font-SourceProSemiBold antialiased">
    <h3 class="text-[1.4em]">Social</h3>
    <div class="flex items-center gap-6 text-[1.1em]">
      <h4 class="border-b-4 border-black pt-2 pb-1 rounded-b-sm">Reviews <span class="text-black/60">15</span></h4>
      <h4>Discussions <span class="text-black/60">65</span></h4>
    </div>
  </div>
  <div class="border border-tmdbLightGray p-5 rounded-lg shadow-light">
    <div class="flex justify-start items-center gap-4">
      <div class="w-[45px] h-[45px] rounded-full overflow-hidden">
        <img src="https://secure.gravatar.com/avatar/cbabaea0fa98692d00130498d7ac5d7c.jpg?s=45" alt=""></div>
      <div>
        <span class="inline-block font-SourceProLight text-[1.1rem]">Featured Review</span>
        <h5 class="font-SourceProBold text-[1.3rem] leading-[1.3rem]">A review by Per Gunnar Jonsson</h5>
        <div class="text-[0.9rem] font-SourceProLight">
          <span class="text-white inline-flex  justify-center items-center gap-0.5 bg-black px-2 mr-2 rounded-lg">
            <svg class="inline-block w-[14px] h-[14px]">
              <use xlink:href="#star"></use>
            </svg>
            <span class="inline-block">5.0</span>
          </span>
          <span>Written by <span class="font-SourceProNormal">Per Gunnar Jonsson</span> on 26 June 2022</span>
        </div>

      </div>
    </div>
    <div class="pt-5">
      <p class="">This is another Spider Man for kids which for me is a wee bit unfortunate. I would very
        much have liked a Peter
        Parker / Spider Man that behaved like a real superhero instead of this naïve kid who constantly thinks he knows
        better than the grown ups and, of course, constantly bungles things up.<br><br>
      <p>In addition I was not too thrilled about the story itself where Spider Man right at the beginning is framed as
        the
        bad guy. I know, I know, it is rather consistent with the original comics but Hollywood do not hesitate so
        change
        things if they feel like it so why not make a good change for once?
      </p>
    </div>
  </div>

  <a href="#" class="block text-[1.1rem] font-SourceProSemiBold mt-5">Read All Reviews</a>
</div>