<div class="h-[355px] text-white my-7.5" style="background: url('https://media.themoviedb.org/t/p/w1920_and_h427_multi_faces/mtitySHL7nZRjEnTJ5Fq4U8kR4r.jpg') center center / cover no-repeat; ">
  <div class="flex flex-col relative trailers-gradient pt-7.5">
    <div class="flex gap-5 items-center pl-7.5">
      <h2 class="font-SourceProSemiBold text-[1.5rem] ">Latest Trailers</h2>
      <div class="trending-selector flex font-SourceProSemiBold rounded-full border border-tmdbLightGreen max-w-min overflow-hidden">
        <span class="time-period homepage_trailers_active_tab"><a class="block w-full min-w-max">Popular</a></span>
        <span class="time-period"><a class="block w-full min-w-max">Streaming</a></span>
        <span class="time-period"><a class="block w-full min-w-max">On TV</a></span>
        <span class="time-period"><a class="block w-full min-w-max">For Rent</a></span>
        <span class="time-period"><a class="block w-full min-w-max">In Theaters</a></span>
      </div>
    </div>
    <div class="grow scrollable-wrapper overflow-scroll scrollbar fading pl-7.5">
      <div class="scrollable-content flex gap-5 text-center my-5 child:shrink-0">
        <div class="w-[300px]">
          <div class="group relative overflow-hidden rounded-lg hover:scale-105 transition-all duration-500 ease-in-out">
            <svg class="absolute inset-0 my-auto mx-auto w-16 h-16 group-hover:scale-110 transition-all duration-500 ease-in-out">
              <use xlink:href="#play"></use>
            </svg>
            <img src="https://media.themoviedb.org/t/p/w355_and_h200_multi_faces/uVu2fBc114un7F1GD76RBouWyBP.jpg" alt="">
          </div>
          <div class="mt-2.5">
            <h3 class="font-SourceProSemiBold text-[1.2rem] leading-5">Inside Out 2</h3>
            <span>Inside Out 2 | Teaser Trailer</span>
          </div>
        </div>
        <div class="w-[300px]">
          <div class="group relative overflow-hidden rounded-lg hover:scale-105 transition-all duration-200">
            <svg class="absolute inset-0 my-auto mx-auto w-16 h-16 group-hover:scale-110 transition-all duration-200">
              <use xlink:href="#play"></use>
            </svg>
            <img class="" src="https://media.themoviedb.org/t/p/w710_and_h400_multi_faces/xMXK7OoT5GkaZrzQBque6nGwuL1.jpg" alt="">
          </div>
          <div class="mt-2.5">
            <h3 class="font-SourceProSemiBold text-[1.2rem] leading-5">Kung Fu Panda 4</h3>
            <span>Inside Out 2 | Teaser Trailer</span>
          </div>
        </div>
        <div class="w-[300px]">
          <div class="group relative overflow-hidden rounded-lg hover:scale-105 transition-all duration-200">
            <svg class="absolute inset-0 my-auto mx-auto w-16 h-16 group-hover:scale-110 transition-all duration-200">
              <use xlink:href="#play"></use>
            </svg>
            <img src="https://media.themoviedb.org/t/p/w710_and_h400_multi_faces/urdRBvDqAeXPZNr6R3jWTNamCCf.jpg" alt="">
          </div>
          <div class="mt-2.5">
            <h3 class="font-SourceProSemiBold text-[1.2rem] leading-5">Drive-Away Dolls</h3>
            <span>Inside Out 2 | Teaser Trailer</span>
          </div>
        </div>
        <div class="w-[300px]">
          <div class="group relative overflow-hidden rounded-lg hover:scale-105 transition-all duration-200">
            <svg class="absolute inset-0 my-auto mx-auto w-16 h-16 group-hover:scale-110 transition-all duration-200">
              <use xlink:href="#play"></use>
            </svg>
            <img src="https://media.themoviedb.org/t/p/w710_and_h400_multi_faces/mtitySHL7nZRjEnTJ5Fq4U8kR4r.jpg" alt="">
          </div>
          <div class="mt-2.5">
            <h3 class="font-SourceProSemiBold text-[1.2rem] leading-5">Imaginary</h3>
            <span>Inside Out 2 | Teaser Trailer</span>
          </div>
        </div>
        <div class="w-[300px]">
          <div class="group relative overflow-hidden rounded-lg hover:scale-105 transition-all duration-200">
            <svg class="absolute inset-0 my-auto mx-auto w-16 h-16 group-hover:scale-110 transition-all duration-200">
              <use xlink:href="#play"></use>
            </svg>
            <img src="https://media.themoviedb.org/t/p/w355_and_h200_multi_faces/uVu2fBc114un7F1GD76RBouWyBP.jpg" alt="">
          </div>
          <div class="mt-2.5">
            <h3 class="font-SourceProSemiBold text-[1.2rem] leading-5">Inside Out 2</h3>
            <span>Inside Out 2 | Teaser Trailer</span>
          </div>
        </div>
        <div class="w-[300px]">
          <div class="group relative overflow-hidden rounded-lg hover:scale-105 transition-all duration-200">
            <svg class="absolute inset-0 my-auto mx-auto w-16 h-16 group-hover:scale-110 transition-all duration-200">
              <use xlink:href="#play"></use>
            </svg>
            <img src="https://media.themoviedb.org/t/p/w355_and_h200_multi_faces/uVu2fBc114un7F1GD76RBouWyBP.jpg" alt="">
          </div>
          <div class="mt-2.5">
            <h3 class="font-SourceProSemiBold text-[1.2rem] leading-5">Inside Out 2</h3>
            <span>Inside Out 2 | Teaser Trailer</span>
          </div>
        </div>
        <div class="w-[300px]">
          <div class="group relative overflow-hidden rounded-lg hover:scale-105 transition-all duration-200">
            <svg class="absolute inset-0 my-auto mx-auto w-16 h-16 group-hover:scale-110 transition-all duration-200">
              <use xlink:href="#play"></use>
            </svg>
            <img src="https://media.themoviedb.org/t/p/w355_and_h200_multi_faces/uVu2fBc114un7F1GD76RBouWyBP.jpg" alt="">
          </div>
          <div class="mt-2.5">
            <h3 class="font-SourceProSemiBold text-[1.2rem] leading-5">Inside Out 2</h3>
            <span>Inside Out 2 | Teaser Trailer</span>
          </div>
        </div>
        <div class="w-[300px]">
          <div class="group relative overflow-hidden rounded-lg hover:scale-105 transition-all duration-200">
            <svg class="absolute inset-0 my-auto mx-auto w-16 h-16 group-hover:scale-110 transition-all duration-200">
              <use xlink:href="#play"></use>
            </svg>
            <img src="https://media.themoviedb.org/t/p/w355_and_h200_multi_faces/uVu2fBc114un7F1GD76RBouWyBP.jpg" alt="">
          </div>
          <div class="mt-2.5">
            <h3 class="font-SourceProSemiBold text-[1.2rem] leading-5">Inside Out 2</h3>
            <span>Inside Out 2 | Teaser Trailer</span>
          </div>
        </div>
        <div class="w-[300px]">
          <div class="group relative overflow-hidden rounded-lg hover:scale-105 transition-all duration-200">
            <svg class="absolute inset-0 my-auto mx-auto w-16 h-16 group-hover:scale-110 transition-all duration-200">
              <use xlink:href="#play"></use>
            </svg>
            <img src="https://media.themoviedb.org/t/p/w355_and_h200_multi_faces/uVu2fBc114un7F1GD76RBouWyBP.jpg" alt="">
          </div>
          <div class="mt-2.5">
            <h3 class="font-SourceProSemiBold text-[1.2rem] leading-5">Inside Out 2</h3>
            <span>Inside Out 2 | Teaser Trailer</span>
          </div>
        </div>
        <div class="w-[300px]">
          <div class="group relative overflow-hidden rounded-lg hover:scale-105 transition-all duration-200">
            <svg class="absolute inset-0 my-auto mx-auto w-16 h-16 group-hover:scale-110 transition-all duration-200">
              <use xlink:href="#play"></use>
            </svg>
            <img src="https://media.themoviedb.org/t/p/w355_and_h200_multi_faces/uVu2fBc114un7F1GD76RBouWyBP.jpg" alt="">
          </div>
          <div class="mt-2.5">
            <h3 class="font-SourceProSemiBold text-[1.2rem] leading-5">Inside Out 2</h3>
            <span>Inside Out 2 | Teaser Trailer</span>
          </div>
        </div>
        <div class="w-[300px]">
          <div class="group relative overflow-hidden rounded-lg hover:scale-105 transition-all duration-200">
            <svg class="absolute inset-0 my-auto mx-auto w-16 h-16 group-hover:scale-110 transition-all duration-200">
              <use xlink:href="#play"></use>
            </svg>
            <img src="https://media.themoviedb.org/t/p/w355_and_h200_multi_faces/uVu2fBc114un7F1GD76RBouWyBP.jpg" alt="">
          </div>
          <div class="mt-2.5">
            <h3 class="font-SourceProSemiBold text-[1.2rem] leading-5">Inside Out 2</h3>
            <span>Inside Out 2 | Teaser Trailer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
