<div class="antialiased font-SourceProNormal">
  <div class="flex justify-center items-start flex-col h-[357px] text-white antialiased p-10 my-auto" style="background:url('https://media.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/e3h0knvtz4qPg9dwYdWynALrW9s.jpg') 0 / cover no-repeat;">
    <div class="container">
      <h2 class="font-SourceProBold text-[3rem] leading-10">Welcome</h2>
      <h3 class="font-SourceProSemiBold text-[2rem]">Millions of movies, TV shows and people to discover. Explore
        now.</h3>
      <form action="" class="w-full flex mt-[50px]">
        <input class="h-[46px] py-2.5 px-4 rounded-l-full bg-white w-full outline-none !text-tmdbDarkBlue" type="text" placeholder="Search for a movie, tv show, person.......">
        <button class="w-[100px] -ml-6 shrink-0 rounded-full font-SourceProBold" style="background: linear-gradient(to right,rgba(30,213,169,1) 0%,rgba(1,180,228,1) 100%);">Search</button>
      </form>
    </div>
  </div>
  <div class="container">

    <%= render partial: "movies/menu", locals: { movies: @random_movies, title: "Trending", periods: ["Today", "This Week"], show_scrollbar: false, height: "450px", background_bar: true } %>
    <%= render partial: "movies/trailers_menu" %>

    <%= render partial: "movies/menu", locals: { movies: @random_movies, title: "What's Popular", periods: ["Streaming", "On TV", "For Rent", "In Theaters"], show_scrollbar: true } %>
    <%= render partial: "movies/menu", locals: { movies: @random_movies, title: "Free To Watch", periods: ["Movies", "TV"], show_scrollbar: true } %>


  </div>
</div>