<div class="container antialiased mb-40">
  <h1 class="font-SourceProSemiBold text-[1.6rem] mt-7.5 mb-5">Popular Movies</h1>
  <div id="app">yo</div>
  <div class="flex">
    <%= render 'filter_form' %>
    <%= render 'filter_results' %>
  </div>
</div>