<%= render partial: "/layouts/shortcut_bar" %>
<%= render partial: "/movies/header" %>
<div class="container">
  <div class="flex gap-6 mt-[30px]">
    <%= render partial: "/movies/cast" %>
    <div class="min-w-[260px]"></div>
  </div>
</div>


