<div class="flex flex-col sm:flex-row justify-start sm:justify-between items-start sm:items-center gap-y-2 my-5">
  <div class="flex items-center">
    <h3 class="font-SourceProBold text-[1.5rem] mr-5"><%= title %></h3>

    <% if local_assigns[:show_import_button] %>
      <div class="bg-zinc-300 rounded-full h-6 w-6 flex justify-center items-center mr-5">
        <svg class="h-5 w-5 text-black">
          <use xlink:href="#dots"></use>
        </svg>
      </div>
    <% end %>

    <% if local_assigns[:show_count] %>
      <div class="flex gap-4">
        <h4 class="border-b-4 border-tmdbLighterBlue">
          <a href="">Movies</a>
          <span class="text-[0.9rem] text-tmdbLighterBlue/80 ml-2"><%= items_count %></span>
        </h4>
      </div>
    <% end %>
  </div>

  <%= render "users/shared/sort_filter", filter_options: filter_options %>
</div>