// Import Tailwind CSS
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Import custom styles
@import "@/styles/score_chart";

// Vue cloak directive
[v-cloak] {
  display: none;
}


// Custom fonts
@layer base {
  @font-face {
    font-family: "SourcePro-Light";
    src: url("@/assets/fonts/Source-Sans-Light.woff2") format('woff2');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "SourcePro-Normal";
    src: url("@/assets/fonts/Source-Sans-Normal.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "SourcePro-Italic";
    src: url("@/assets/fonts/Source-Sans-Italic.woff2") format('woff2');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: "SourcePro-SemiBold";
    src: url("@/assets/fonts/Source-Sans-SemiBold.woff2") format('woff2');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "SourcePro-Bold";
    src: url("@/assets/fonts/Source-Sans-Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Concen-Bold";
    src: url("@/assets/fonts/Concen-Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
  }

 }



 body {
   margin: 0;
   padding: 0;
   background-color: #f6f8fc;
   color: #333;
   position: relative;
   overflow-x: hidden;
 
   &::before {
     content: '';
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     pointer-events: none;
     background-image: radial-gradient(rgba(93, 122, 226, 0.3) 1px, transparent 1px);
     background-size: 50px 50px;
     opacity: 0.03;
     z-index: -1;
   }
 
   &::after {
     content: '';
     position: fixed;
     top: -10%;
     right: -10%;
     width: 60%;
     height: 60%;
     background: linear-gradient(135deg, rgba(93, 122, 226, 0.07), rgba(93, 122, 226, 0.01));
     border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
     z-index: -2;
   }
 }
 
 body.dark {
   background: linear-gradient(to bottom right, #010e19, #011528, #010e19);
   color: #f6f8fc;
   
   &::before {
     background-image: radial-gradient(rgba(93, 122, 226, 0.3) 1px, transparent 1px);
     opacity: 0.05;
   }
   
   &::after {
     background: linear-gradient(135deg, rgba(60, 239, 255, 0.05), rgba(93, 122, 226, 0.02));
     opacity: 0.2;
   }
 }
