<div class="mb-32 font-SourceProNormal antialiased">
  <%= render partial: "users/shared/user_profile_layout", locals: { user: current_user } %>
  <div class="container">
    <%= render "users/shared/list_header",
      title: "My Ratings",
      show_import_button: true,
      filter_options: ["Date Rated", "My Rating", "Popularity", "Release Date"] %>

    <% if @current_user_ratings.empty? %>
      <p>You haven't rated any movies.</p>
    <% else %>
      <% @current_user_ratings.each do |movie| %>
        <%= render "movies/movie_card", movie: movie %>
      <% end %>
    <% end %>
  </div>
</div>