<div class="mb-32 font-SourceProNormal antialiased">
  <%= render partial: "users/shared/user_profile_layout", locals: { user: current_user } %>
  <div class="container">
    <%= render "users/shared/list_header",
      title: "My Watchlist",
      show_count: true,
      items_count: @current_user_watchlist.size,
      filter_options: ["Date Added", "Upcoming", "Popularity", "Release Date"] %>

    <% if @current_user_watchlist.empty? %>
      <p>You haven't added any movies to your watchlist.</p>
    <% else %>
      <% @current_user_watchlist.each do |movie| %>
        <%= render "movies/movie_card", movie: movie %>
      <% end %>
    <% end %>
  </div>
</div>