@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./score_chart";

:root {
  --lightGrey: 227, 227, 227;
  --darkerGrey: 200, 200, 200;
  --vibrantDarkBlue: 6, 37, 65;
  --vibrantLightBlue: 0, 118, 241;
  --tmdbDarkBlue: 3, 37, 65;
  --tmdbLightBlue: 1, 180, 228;
  --tmdbLighterGreen: 192, 254, 207;
  --tmdbLightGreen: 30, 213, 169;
  --tmdbLogoGreen: 144, 206, 161;
  --tmdbLogoOrange: 253, 193, 112;
  --tmdbLogoRed: 217, 59, 99;
  --accountSilver: 149, 149, 149;
  --accountPink: 234, 20, 140;
  --accountPurple: 128, 91, 231;
  --accountGreen: 1, 210, 119;
  --accountTeal: 1, 198, 172;
  --accountLightBlue: 1, 180, 228;
  --accountBlue: 1, 119, 210;
  --accountOrange: 210, 119, 1;
  --accountYellow: 210, 144, 1;
  --accountRed: 212, 2, 66;

}

@layer base {

  @font-face {
    font-family: "SourcePro-Light" ;
    src: url("@assets/fonts/Source-Sans-Light.woff2") format('woff2');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "SourcePro-Normal" ;
    src: url("@assets/fonts/Source-Sans-Normal.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "SourcePro-Italic" ;
    src: url("@assets/fonts/Source-Sans-Italic.woff2") format('woff2');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: "SourcePro-SemiBold" ;
    src: url("@assets/fonts/Source-Sans-SemiBold.woff2") format('woff2');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "SourcePro-Bold" ;
    src: url("@assets/fonts/Source-Sans-Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
  }
}

@layer base {

  .disc::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: white;
    opacity: 0.9;
    position: absolute;
    top: calc(50% - 1px);
    left: -12px;
  }

  .overlay {
    @apply invisible opacity-0 fixed inset-0 w-full h-full z-10 bg-black/40 transition-all
  }

  .overlay--visible {
    @apply visible opacity-100
  }

  .header-gradient-mobile {
    background: linear-gradient(to right, rgba(31.5, 31.5, 52.5, 1) 20%, rgba(31.5, 31.5, 52.5, 0) 50%);
  }

  .header-bg-position {
    @apply bg-[calc((((100vw_/_2.222222)_-_20px)_/_1.5)_/_2)_0] sm:bg-[left_calc((50vw_-_170px)_-_340px)_top];
  }

  .collection-bg {
    background-image: linear-gradient(to right, rgba(3, 37, 65, 1) 0%, rgba(3, 37, 65, 0.6) 100%);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .scrollbar {
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden !important;
    overflow-x: scroll !important;
    /*    margin-left: -10px;*/
    /*    margin-top: -10px;*/
  }

  .scrollbar::-webkit-scrollbar {
    height: 8px;
    width: 8px
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(230, 230, 230, 0.8);
    border-radius: 20px
  }

  .user-profile-header {
    background-image: radial-gradient(at 30% top, #073844 0%, rgba(3, 37, 65, 1) 70%);
  }

  .user-profile-header > div {
    background-image: url(https://www.themoviedb.org/assets/2/v4/account_pipes/light_blue-a230b623827400e967c6eb7241d88086f2eb9264c0789d0dab15ae6f1df1421a.svg);
    background-position: center -250px;
  }

  .accent-color-circle {
    @apply w-12.5 h-12.5 rounded-full;
  }

  .silver {
    background-color: rgba(1, 2, 2, 1)
  }

  .pink {
    background-color: rgba(var(--accountPink), 1)
  }

  .purple {
    background-color: rgba(var(--accountPurple), 1)
  }

  .green {
    background-color: rgba(var(--accountGreen), 1)
  }

  .teal {
    background-color: rgba(var(--accountTeal), 1)
  }

  .light-blue {
    background-color: rgba(var(--accountLightBlue), 1)
  }

  .blue {
    background-color: rgba(var(--accountBlue), 1);
  }

  .orange {
    background-color: rgba(var(--accountOrange), 1);
  }

  .yellow {
    background-color: rgba(var(--accountYellow), 1)
  }

  .red {
    background-color: rgba(var(--accountRed), 1)
  }


  .accent-checked {
    background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-739-check-white-a09b2a26e235b77489dfd57be3b66a17ff86efd5fb94d6db5f10cd3ced01e5a6.svg");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
  }


  .fading.fade_visible::after {
    transition: linear .3s;
    opacity: 1
  }

  .fading.fade_invisible::after {
    transition: linear .3s;
    opacity: 0
  }

  .fading::after {
    content: "";
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #fff 100%);
    will-change: opacity;
    pointer-events: none
  }

  .trailers-gradient {
    background: linear-gradient(to right, rgba(var(--tmdbDarkBlue), .75) 0%, rgba(var(--tmdbDarkBlue), .75) 100%);
    height: 100%;
  }

}


@layer components {
  .submenu {
    @apply max-h-0 overflow-hidden mb-2.5;
  }

  .submenu--open {
    @apply max-h-min mb-7 mt-2.5;
  }

  .tag {
    @apply text-[12.96px] leading-4 rounded-md bg-black/10 inline-block rounded-[4px] px-2.5 py-1 border border-tmdbLightGray;
  }


  .custom-input {
    @apply w-full h-9.5 mt-0.5 px-4 py-1.5 bg-white rounded-md border border-tmdbLightGray outline-none;
  }

  .active_tab {
    @apply bg-tmdbDarkBlue;
    a {
      background: linear-gradient(to right, #c0fecf 0, #1ed5a9 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }

  .active_tab_trailers {

    @apply text-tmdbDarkBlue;
    background: linear-gradient(to right, rgb(var(--tmdbLighterGreen)) 0, rgb(var(--tmdbLightGreen)) 100%);
  }

  .time-period {
    @apply block py-0.5 px-5 rounded-full overflow-hidden transition-all duration-200
  }
}

