<div class="filter-section">
  <h2 class="font-SourceProLight">Availabilities</h2>

  <!-- Render the form with checkboxes for availabilities -->
  <%= checkbox_group(f, :availabilities, availability_options) %>
</div>
