<div class="filter-section">
  <h2 class="font-SourceProLight mb-2.5">Certifications</h2>
  <div class="flex flex-wrap gap-2 text-black">
    <% certification_options.each do |certification| %>
      <label class="relative inline-flex items-center cursor-pointer">
        <%= f.check_box :certifications, { multiple: true, class: 'peer sr-only' }, certification, nil %>
        <span class="filter-tag peer-checked:bg-tmdbLighterBlue peer-checked:border-tmdbLighterBlue
    peer-checked:text-white transition-colors duration-200">
          <%= certification %>
        </span>
      </label>
    <% end %>
  </div>
</div>
