<div class="filter-section">
  <h2 class="font-SourceProLight mb-2.5">Genres</h2>
  <div class="flex flex-wrap gap-2 text-black">
    <% genre_options.each do |genre| %>
      <label class="relative inline-flex items-center cursor-pointer">
        <%= f.check_box :genre_options, { multiple: true, class: 'peer sr-only' }, genre, nil %>
        <span class="filter-tag peer-checked:bg-tmdbLighterBlue peer-checked:border-tmdbLighterBlue
    peer-checked:text-white transition-colors duration-200">
          <%= genre %>
        </span>
      </label>
    <% end %>
  </div>
</div>
