<%= filter_box(title: 'Sort') do %>
  <div class="filter-section">
    <div class="font-SourceProLight font-light pb-2.5">Sort Results By</div>
    <div class="relative font-SourceProNormal font-medium text-[0.9rem]">
      <%= f.select :sort_by, sort_options, {}, class: 'form-select' %>
    </div>
  </div>
<% end %>