<div class="flex justify-center items-center min-h-[326px] max-h-max mt-auto py-8 px-2 lg:px-4 font-SourceProNormal antialiased text-white bg-tmdbDarkBlue">
  <div class="flex flex-col justify-center gap-4 lg:gap-10 sm:flex-row">
    <div class="flex flex-col justify-between items-center self-center">
      <div class="w-[130px] mb-8">
        <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg" alt="">
      </div>
      <div class="shrink-0 text-tmdbLightBlue sm:tex-[1.1rem] lg:text-[1.3rem] font-SourceProBold bg-white rounded-lg py-2 px-4 min-w-[177px]">
        <a href="">Join the Community</a></div>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-3 sm:gap-4 md:gap-4 lg:gap-10">
      <div>
        <h3 class="text-[1.1rem] sm:text-[1.26em] font-SourceProBold leading-[28px] mb-1 uppercase">The Basics</h3>
        <ul class="text-[0.95rem] sm:text-[1.08rem] leading-[24px]">
          <li>About TMDB</li>
          <li>Contact Us</li>
          <li>Support Forums</li>
          <li>API</li>
          <li>System Status</li>
        </ul>
      </div>
      <div>
        <h3 class="text-[1.1rem] sm:text-[1.26em] font-SourceProBold leading-[28px] mb-1 uppercase">GET INVOLVED
        </h3>
        <ul class="text-[0.95rem] sm:text-[1.08rem] leading-[24px]">
          <li>Contribution Bible</li>
          <li>Add New Movie</li>
          <li>Add New TV Show</li>
        </ul>
      </div>
      <div>
        <h3 class="text-[1.1rem] sm:text-[1.26em] font-SourceProBold leading-[28px] mb-1 uppercase">COMMUNITY</h3>
        <ul class="text-[0.95rem] sm:text-[1.08rem] leading-[24px]">
          <li>Guidelines</li>
          <li>Discussions</li>
          <li>Leaderboard</li>
        </ul>
      </div>
      <div>
        <h3 class="text-[1.1rem] sm:text-[1.26em] font-SourceProBold leading-[28px] mb-1 uppercase">LEGAL</h3>
        <ul class="text-[0.95rem] leading-[24px]">
          <li>Terms of Use</li>
          <li>API Terms of Use</li>
          <li>Privacy Policy</li>
          <li>DMCA Policy</li>
        </ul>
      </div>
    </div>
  </div>
</div>