<div class="fixed w-full">
  <!--desktop header-->
  <header class="hidden sm:flex items-center w-full h-16 bg-tmdbDarkBlue font-SourceProSemiBold text-white antialiased">
    <div class="container">
      <div class="flex justify-between items-center min-h-10 mx-auto px-6">
        <nav class="flex leading-10">
          <a href="#" class="inline-block w-[154px] h-10 mr-4 md:mr-6">
            <img class="h-5 inline-block" src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg" alt="">
          </a>
          <ul class="flex gap-4 md:gap-6 lg:gap-8 h-10">
            <li class="relative group cursor-pointer"><a href="#">Movies</a>
              <div class="invisible opacity-0 group-hover:visible group-hover:opacity-100 transition-all delay-75 duration-200 absolute py-2 w-44 bg-white text-black rounded font-SourceProNormal top-full child-hover:bg-tmdbHoverGray child:block child:pl-6">
                <a href="#">Popular</a>
                <a href="#">Now Playing</a>
                <a href="#">Upcoming</a>
                <a href="#">Top Rated</a>
              </div>
            </li>
            <li class="relative group cursor-pointer"><a href="#">TV Shows</a>
              <div class="invisible opacity-0 group-hover:visible group-hover:opacity-100 transition-all delay-75 duration-200 absolute py-2 w-44 bg-white text-black rounded font-SourceProNormal top-full child-hover:bg-tmdbHoverGray child:block child:pl-6">
                <a href="#">Popular</a>
                <a href="#">Airing Today</a>
                <a href="#">On TV</a>
                <a href="#">Top Rated</a>
              </div>
            </li>
            <li class="relative group cursor-pointer"><a href="#">People</a>
              <div class="invisible opacity-0 group-hover:visible group-hover:opacity-100 transition-all delay-75 duration-200 absolute py-2 w-44 bg-white text-black rounded font-SourceProNormal top-full child-hover:bg-tmdbHoverGray child:block child:pl-6">
                <a href="#">Popular People</a>
              </div>
            </li>
            <li class="relative group cursor-pointer"><a href="#">More</a>
              <div class="invisible opacity-0 group-hover:visible group-hover:opacity-100 transition-all delay-75 duration-200 absolute py-2 w-44 bg-white text-black rounded font-SourceProNormal top-full child-hover:bg-tmdbHoverGray child:block child:pl-6">
                <a href="#">Discussions</a>
                <a href="#">Leaderboard</a>
                <a href="#">Support</a>
                <a href="#">API</a>
              </div>
            </li>
          </ul>
        </nav>
        <div>
          <ul class="flex gap-3 md:gap-6 h-10 leading-10">
            <li class="hidden lg:flex justify-center items-center cursor-pointer">
              <svg class="w-5 pt-1.5">
                <use xlink:href="#plus"></use>
              </svg>
            </li>
            <li class="hidden lg:block">
              <a class="text-[0.9rem] px-[5px] py-[3px] border-white border rounded-[3px] transition-all duration-100 hover:bg-white hover:text-tmdbDarkBlue" href="">EN</a>
            </li>
            <li><a href="">Login</a></li>
            <li><a href="">Join <span class="hidden md:inline">TMDB</span></a></li>
            <li class="flex justify-center items-center cursor-pointer">
              <svg class="w-[30px] h-[30px]">
                <use xlink:href="#search"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <!--mobile header-->
  <div class="sm:hidden w-full h-16 px-4 bg-tmdbDarkBlue font-SourceProSemiBold text-white antialiased">
    <div class="flex justify-between items-center h-full">
      <!--logo-->
      <div class="w-[154px] h-10 mr-3 md:mr-6 leading-10">
        <img class="h-5 inline-block" src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg" alt="">
      </div>
      <!--mobile nav button-->
      <div class="mobile-nav-btn">
        <svg class="w-8 h-8 cursor-pointer">
          <use xlink:href="#bars"></use>
        </svg>
      </div>
    </div>
    <!--mobile nav-->
    <div class="mobile-menu w-64 min-h-screen fixed z-50 top-0 -right-72 bottom-0 bg-white transition-all">
      <div class="flex justify-between items-center px-4 h-16 leading-[64px] border-b border-b-gray-200">
        <!--nav close button-->
        <div class="mobile-close-btn pt-1">
          <svg class="w-5 h-5 text-black text-tmdbDarkBlue/50 cursor-pointer">
            <use xlink:href="#x-mark"></use>
          </svg>
        </div>
        <!--nav-logo-->
        <div class="w-36">
          <img class="h-5 inline-block" src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg" alt="">
        </div>
      </div>
    </div>

  </div>
  <div class="overlay sm:hidden"></div>
</div>